<%-include('Layouts/header')-%>
    <div class="container-fluid text-center">
        <p id="p1" class="display-3">hey you !!</p>
        <p id="p2" class="display-3">what plans today :)</p>
        <a href="/list/TodoList" class="btn btn-dark">Tell-me</a>
        <p id="demo" class="display-1"></p>
    </div>
<%-include('Layouts/footer')-%>