<%-include('Layouts/header')-%>
<div class="container-fluid" id="list_container">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Hey you !!! HI</h5>
            <p class="card-title">What's Your Plans today :)</p>
        </div>
        <ul class="list-group">
            <%for(let i=0;i<todo.length;i++) {%>
            <form class="form" method="POST" action="/list/delete">
                <li class="list-group-item" id="todoitems"><%=todo[i]%> <span class="text-center"><input type="checkbox"
                            onclick="this.form.submit();" style="width:25px;height:25px;color:goldenrod" id="checkbox"></span></li>
                <input type="hidden" value="<%=i%>" name="delIndex">
            </form>
            <%}%>
        </ul>
        <div class="card-body text-center">
                <form action="/list/add" method="post">
                    <input type="text" name="todo" class="form-control" required>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Todo</button>
                    <a href="/list/reset" class="btn btn-danger">Reset Todo</a>
                </form>
        </div>
    </div>
</div>
<%-include('Layouts/footer')-%>