#list_container{
    width:100%;
    height:657px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    position: fixed;
}

.card{
    position: relative;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
}
#todoitems{
    text-transform: capitalize;
    font-weight: bold;
}

#checkbox{
    float: right;
}